<div class="div-transparent">
  <%= form_tag("/wikis", :method => "post", :class => "main-form", :remote => true) do %>
    <%= text_field_tag "search_page", nil, :type => "search", :id => "search", placeholder: "Enter search term" %><br>
    <%= submit_tag "Submit", 'data-role' => "button", 'data-inline'=> "true", 'data-theme' => "b", :disable_with => "Please wait..." %>
  <% end %>
</div>

<div class="wikipage"></div>
