<!-- Yields from lazy_load -->
<div id="makeupedia-main-body"></div>
<div id="bottom-menu">
  <%= render partial: 'edit_menu' %>
</div>
<!-- in body of this partial -->
<%= javascript_include_tag 'jquery.ba-replacetext.min' %>
<%= javascript_include_tag 'revise' %>