<div class="page-top">
  <center><p class="makeupedia-title"><span class="makeupedia-title-big">M</span>akeupedi<span class="makeupedia-title-big">a</span></p></center>
  <center><p><img src="/assets/makeupediabw.png" width='200' height='200'></p></center>
</div>
<div class="div-transparent">
  <p><br><h2>Makeupedia, the fake encyclopedia - About Us</h2>
    <strong>Disclaimer - This website is a parody. This is for fun. Laughs. By using this site you agree to release Makeupedia of any liability
      to what happens when you use this website.</strong>
      <br><br>
      Makeupedia allows you to subsitute words with another word or phrase on a Wikipedia page.  An account is not mandatory but you can save your humorous changes if you log in.
      <br><br>
      <h3>Wow, this is cool.  How do I start using this site?</h3>
      1.  Easy! Type in your search term in the field and hit the submit button.<br>
      2.  Next, the Wikipedia site will load.  Here, you can select the text you want to change.<br>
      3.  A new window will appear.  Enter the replacement word or phrase you want to replace the selected text with in the "Replace with" field.  Hit the submit button, that's it!
      <br>
      4.  The page will load again with your changes!  Repeat steps 2-3 again to make multiple changes.
      <br><br>
      <h3>What is this thing about accounts?</h3>
      An account allows you to save edits and share links to your friends! This allows you to delete specific changes and also lets you keep the changes that you enjoy the most.<br>
      As an added benefit, you will be able to send links to share laughs with your friends.<br><br>
      <h4>. . .what are you waiting for, try it out and have fun!</h4>
      <br><br>
  </p>
</div>