/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require pure-min
 */

body {
  background:url("http://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/1000px-Wikipedia-logo-v2.svg.png") fixed no-repeat;
  background-size: cover;
}

.form-ours {
  padding:1.5em;
}

.div-margin {
  margin:.5em;
}

.div-transparent {
  background-color:rgba(0,0,0,0.4);
  border-radius:5px;
}

.container {
  margin-top: 1em;
}

.submit-button {
  margin-top:0.75em;
}

.textbox-wide {
  width:200px;
}

.textbox-wide-tall {
  width: 510px;
  height: 35px;
}
