/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background:url("/assets/makeupediabw.png") fixed no-repeat;
  background-size: cover;
}

.container {
  margin-right: 10%;
  margin-left: 10%;
  position: relative;
}

.main-form {
  padding-top:2em;
  padding-left:2em;
  padding-right:2em;
  padding-bottom:1.2em;
}

.div-margin {
  margin:.5em;
}

.div-transparent {
  background-color:rgba(155,155,155,0.4);
  border-radius:5px;
}

.submit-button {
  margin-top:0.75em;
}

.top-margin {
  margin-top:0.5em;
}

#loading-indicator {
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  height: 100%;
  width: 100%;
}

.span-right {
  float: right;
}

footer {
  padding:.5em;
}

footer a {
  text-decoration: none;
}

.delete {
  float: right;
  background: #e11507;
  color:white;
  text-decoration: none;
  border-radius:5px;
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
  border: 1px white solid;
}

h4 a.delete {
  color:white;
  text-decoration: none;
  font-size: 8px;
}

a.delete {
  text-decoration: none;
  font-size: 8px;
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
}

.delete:hover {
  background:white;
  color:red;
  text-decoration: none;
  transition: 0.2s;
}

.full-width {
  width:100%;
}

.acc-changes {
  margin:15px;
}

a.permalink{
  font-size:10px;
  color:blue;
  text-decoration: none;
}

a.permalink:visited{
  color:blue;
  text-decoration: none;
}

a.permalink:hover{
  color:#3333FF;
  text-decoration: none;
}