#floating-selection-search-form {
    background-color:rgba(0,0,0,0.4);
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    width:80%;
    height:50%;
    min-height:7em;
    max-height:15em;
    position:fixed;
    left:50%;
    top: 0px;
    margin-left:-40%;
    overflow: hidden;
    z-index: 1000;
}

.floating-selection-textarea {
    font-family: Helvetica,Arial,sans-serif !important;
    font-size: 16px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:1em;
    width:80%;
    padding:0.7em;
    height 2em;
    border:solid 2px #d3d3d3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    resize:none;
}

.ctextarea2 {
    margin-bottom: 1em;
}

span.ui-btn-text{
    display:none;
}

#killer-awesome-submit-button, #hide-form-button {
    -webkit-animation-delay: 0s;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 0s;
    -webkit-animation-fill-mode: none;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: none;
    -webkit-animation-play-state: running;
    -webkit-animation-timing-function: ease;
    -webkit-app-region: no-drag;
    -webkit-appearance: none;
    -webkit-backface-visibility: visible;
    -webkit-background-clip: padding-box;
    -webkit-background-composite: source-over;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-border-fit: border;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-image: none;
    -webkit-border-vertical-spacing: 0px;
    -webkit-box-align: stretch;
    -webkit-box-decoration-break: slice;
    -webkit-box-direction: normal;
    -webkit-box-flex: 0;
    -webkit-box-flex-group: 1;
    -webkit-box-lines: single;
    -webkit-box-ordinal-group: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -webkit-box-reflect: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    -webkit-clip-path: none;
    -webkit-column-axis: auto;
    -webkit-column-break-after: auto;
    -webkit-column-break-before: auto;
    -webkit-column-break-inside: auto;
    -webkit-column-count: auto;
    -webkit-column-gap: normal;
    -webkit-column-progression: normal;
    -webkit-column-rule-color: rgb(255, 255, 255);
    -webkit-column-rule-style: none;
    -webkit-column-rule-width: 0px;
    -webkit-column-span: none;
    -webkit-column-width: auto;
    -webkit-filter: none;
    -webkit-font-kerning: auto;
    -webkit-font-smoothing: auto;
    -webkit-font-variant-ligatures: normal;
    -webkit-highlight: none;
    -webkit-hyphenate-character: auto;
    -webkit-line-align: none;
    -webkit-line-box-contain: block inline replaced;
    -webkit-line-break: auto;
    -webkit-line-clamp: none;
    -webkit-line-grid: none;
    -webkit-line-snap: none;
    -webkit-locale: en;
    -webkit-margin-after-collapse: collapse;
    -webkit-margin-before-collapse: collapse;
    -webkit-marquee-direction: auto;
    -webkit-marquee-increment: 6px;
    -webkit-marquee-repetition: infinite;
    -webkit-marquee-style: scroll;
    -webkit-mask-box-image: none;
    -webkit-mask-box-image-outset: 0px;
    -webkit-mask-box-image-repeat: stretch;
    -webkit-mask-box-image-slice: 0 fill;
    -webkit-mask-box-image-source: none;
    -webkit-mask-box-image-width: auto;
    -webkit-mask-clip: border-box;
    -webkit-mask-composite: source-over;
    -webkit-mask-image: none;
    -webkit-mask-origin: border-box;
    -webkit-mask-position: 0% 0%;
    -webkit-mask-repeat: repeat;
    -webkit-mask-size: auto;
    -webkit-perspective: none;
    -webkit-perspective-origin: 48px 20.09375px;
    -webkit-print-color-adjust: economy;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-combine: none;
    -webkit-text-decorations-in-effect: none;
    -webkit-text-emphasis-color: rgb(255, 255, 255);
    -webkit-text-emphasis-position: over;
    -webkit-text-emphasis-style: none;
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-orientation: vertical-right;
    -webkit-text-security: none;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0px;
    -webkit-transform: none;
    -webkit-transform-origin: 48px 20.09375px;
    -webkit-transform-style: flat;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    -webkit-user-drag: auto;
    -webkit-user-modify: read-only;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    align-content: stretch;
    align-items: stretch;
    align-self: stretch;
    alignment-baseline: auto;
    background-attachment: scroll;
    background-clip: padding-box;
    background-color: rgb(57, 107, 158);
    background-image: linear-gradient(rgb(95, 156, 197), rgb(57, 107, 158));
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;
    baseline-shift: baseline;
    border-bottom-color: rgb(4, 64, 98);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: separate;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(4, 64, 98);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(4, 64, 98);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(4, 64, 98);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-top-style: solid;
    border-top-width: 1px;
    bottom: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    box-sizing: content-box;
    buffered-rendering: auto;
    caption-side: top;
    clear: none;
    clip: auto;
    clip-path: none;
    clip-rule: nonzero;
    color: rgb(255, 255, 255);
    color-interpolation: srgb;
    color-interpolation-filters: linearrgb;
    color-rendering: auto;
    cursor: pointer;
    direction: ltr;
    dominant-baseline: auto;
    empty-cells: show;
    fill: #000000;
    fill-opacity: 1;
    fill-rule: nonzero;
    filter: none;
    flex-basis: auto;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: nowrap;
    float: none;
    flood-color: rgb(0, 0, 0);
    flood-opacity: 1;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    glyph-orientation-horizontal: 0deg;
    glyph-orientation-vertical: auto;
    height: 38.1875px;
    image-rendering: auto;
    justify-content: flex-start;
    kerning: 0;
    left: auto;
    letter-spacing: normal;
    lighting-color: rgb(255, 255, 255);
    line-height: normal;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    marker-end: none;
    marker-mid: none;
    marker-start: none;
    mask: none;
    mask-type: luminance;
    max-height: none;
    max-width: none;
    min-height: 0px;
    min-width: 0px;
    opacity: 1;
    order: 0;
    orphans: auto;
    outline-color: rgb(255, 255, 255);
    outline-offset: 0px;
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: normal;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    pointer-events: auto;
    position: relative;
    resize: none;
    right: auto;
    shape-rendering: auto;
    speak: normal;
    stop-color: rgb(0, 0, 0);
    stop-opacity: 1;
    stroke: none;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-width: 1;
    tab-size: 8;
    table-layout: auto;
    text-align: center;
    text-anchor: start;
    text-decoration: none;
    text-indent: 0px;
    text-overflow: clip;
    text-rendering: auto;
    text-shadow: rgb(25, 75, 126) 0px 1px 0px;
    text-transform: none;
    top: auto;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    unicode-bidi: normal;
    vector-effect: none;
    vertical-align: middle;
    visibility: visible;
    white-space: normal;
    widows: auto;
    width: 94px;
    word-break: normal;
    word-spacing: 0px;
    word-wrap: normal;
    writing-mode: lr-tb;
    z-index: auto;
    zoom: 1;
}

#center-the-buttons{
    display:block; margin:0 auto;
}